@import './variables/colors';
@import './variables/fonts';
@import './variables/mixins';


.header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.nav-container {
    @include flex-center;
    justify-content: space-between;
    font-family: $font-poppins;
}

.menu {
    display: flex;
    align-items: center;

    .menu-icon {
        font-size: 40px;
        color: $main-color;
        cursor: pointer;
        margin-left: 2rem;
    }
}

.logo {
    margin-right: 35rem;

    h1 {
        color: $main-color;
    }
}

.right {
    ul {
        @include flex-center;
        margin-right: 3rem;
        list-style: none;

        li {

            a {
                text-decoration: none;
                color: $main-color;
                margin: 1rem;
                text-transform: uppercase;
            }
        }
    }
}