@import './variables/colors';
@import './variables/fonts';
@import './variables/mixins';


.header {
    position: absolute;
    width: 100%;
    z-index: 100;
    margin-top: 1rem;
    font-family: $font-rubik;
}

.nav-container {
    @include flex-center;
    justify-content: space-between;
    font-family: $font-poppins;
}

.menu {
    display: flex;
    align-items: center;

    .menu-icon {
        font-size: 40px;
        color: $main-color;
        cursor: pointer;
        margin-left: 2rem;
    }
}

.logo {
    margin-right: 32rem;

    h1 {
        color: $main-color;
    }
}

.right {
    ul {
        @include flex-center;
        margin-right: 3rem;
        list-style: none;

        li {

            a {
                text-decoration: none;
                color: $main-color;
                margin: 1.5rem;
                text-transform: uppercase;
            }
        }
    }
}

.slider {
    display: grid;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 4, 4, 0.97);
    transition: 1s ease-in-out;
}

.slider.active {
    top: 0;
    transition: 1s ease-in-out;
}

.container {
    align-items: center;
    text-align: center;
}

.ul-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    li {
        padding: 60px;
        list-style: none;
        border: 1px solid $main-color;

        a {
            text-decoration: none;
            color: $main-color;
            text-transform: uppercase;
            font-size: 50px;
            text-shadow: 3px 2px 4px $main-color;
            letter-spacing: 3px;
        }
    }
}
