@import './variables/colors';
@import './variables/fonts';
@import './variables/mixins';

section {
    height: 90vh;
    margin: 15px;
    overflow: hidden;
    font-family: $font-poppins;
}

.slide {
    @include flex-center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.slides {
    img {
        width: 1440px;
        height: 90vh;
        object-fit: cover;
    }

    .places {
        position: absolute;
        font-size: 5rem;
        color: $main-color;
        left: 10%;
        top: 30%;
        font-weight: 900;
        text-shadow: 10px 0px 30px $header-color;
    }

    .status {
        position: absolute;
        top: 50%;
        left: 10%;
        color: $main-color;
        font-size: 2rem;
    }

    .bottom {
        position: absolute;
        bottom: 4%;
        left: 2%;
        color: $main-color;
    }
}

.back {
    position: absolute;
    font-size: 2rem;
    left: 2%;
    top: 50%;
    color: $main-color;
    cursor: pointer;
}

.forward {
    position: absolute;
    font-size: 2rem;
    right: 2%;
    top: 50%;
    color: $main-color;
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 30%;
    left: 10%;

    button {
        padding: 10px 30px;
        border: 3px solid $main-color;
        background-color: transparent;
        color: $main-color;
        text-transform: uppercase;
        margin: 0 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: $main-color;
            color: $header-color;
        }
    }
}